In [15]:
import pandas as pd
import glob
import os

In [16]:
datapath="./data/"
print(datapath)

./data/

Column adjustment

In [17]:
database1=pd.read_csv("./../data/1- mental-illnesses-prevalence.csv")
database1.columns=[col.split("disor")[0].strip() for col in database1.columns]
database12=database1.drop(database1.columns[[1]],axis=1)
print(database12.head(2))

        Entity  Year  Schizophrenia  Depressive   Anxiety   Bipolar    Eating
0  Afghanistan  1990       0.223206    4.996118  4.713314  0.703023  0.127700
1  Afghanistan  1991       0.222454    4.989290  4.702100  0.702069  0.123256

Separation continents from countries

In [18]:
continents = [
    "Africa (IHME GBD)" ,
    "Antarctica (IHME GBD)",
    "Asia (IHME GBD)",
    "Europe (IHME GBD)",
    "North America (IHME GBD)",
    "Oceania (IHME GBD)",
    "South America (IHME GBD)",
    "America (IHME GBD)"
]
counties=database12["Entity"].value_counts(dropna=False)
print(counties)
databasecontinents=database12[database12["Entity"].isin(continents)]
print(databasecontinents)
databasecontinents.to_csv("./../data/1a-continents only.csv",index=False)
#Only countries
databasecontries=database12[~database12["Entity"].isin(continents)]
databasecontries.to_csv("./../data/1b-countries.csv",index=False)

Entity
Afghanistan           30
Africa (IHME GBD)     30
Albania               30
Algeria               30
America (IHME GBD)    30
                      ..
Vietnam               30
World                 30
Yemen                 30
Zambia                30
Zimbabwe              30
Name: count, Length: 214, dtype: int64
                 Entity  Year  Schizophrenia  Depressive   Anxiety   Bipolar  \
30    Africa (IHME GBD)  1990       0.219527    4.602806  3.696839  0.607027
31    Africa (IHME GBD)  1991       0.219559    4.598041  3.695416  0.607090
32    Africa (IHME GBD)  1992       0.219579    4.593013  3.693819  0.607127
33    Africa (IHME GBD)  1993       0.219583    4.588568  3.692097  0.607134
34    Africa (IHME GBD)  1994       0.219556    4.586263  3.690115  0.607082
...                 ...   ...            ...         ...       ...       ...
1975  Europe (IHME GBD)  2015       0.277975    3.546587  4.596085  0.740408
1976  Europe (IHME GBD)  2016       0.278079    3.542790  4.591335  0.741251
1977  Europe (IHME GBD)  2017       0.278101    3.537174  4.584498  0.741899
1978  Europe (IHME GBD)  2018       0.277349    3.538158  4.577611  0.742381
1979  Europe (IHME GBD)  2019       0.275731    3.544327  4.564641  0.742839

        Eating
30    0.111027
31    0.110425
32    0.109845
33    0.109305
34    0.108813
...        ...
1975  0.314031
1976  0.317571
1977  0.320585
1978  0.322503
1979  0.324064

[120 rows x 7 columns]

Checking NaN data

In [19]:
print("Number of NaN values in  contry's columns:")
print(databasecontries.isnull().sum())
#databasecontries=datacountries.dropna()/ fillna()
print("Number of NaN values in  continent's columns:")
print(databasecontinents.isnull().sum())

Number of NaN values in  contry's columns:
Entity           0
Year             0
Schizophrenia    0
Depressive       0
Anxiety          0
Bipolar          0
Eating           0
dtype: int64
Number of NaN values in  continent's columns:
Entity           0
Year             0
Schizophrenia    0
Depressive       0
Anxiety          0
Bipolar          0
Eating           0
dtype: int64

Checking data types:

In [20]:
print(databasecontries.dtypes)
print(database12["Entity"].unique())

Entity            object
Year               int64
Schizophrenia    float64
Depressive       float64
Anxiety          float64
Bipolar          float64
Eating           float64
dtype: object
['Afghanistan' 'Africa (IHME GBD)' 'Albania' 'Algeria'
 'America (IHME GBD)' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Asia (IHME GBD)' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba'
 'Cyprus' 'Czechia' 'Democratic Republic of Congo' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'East Timor' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Europe (IHME GBD)' 'European Union (27)' 'Fiji' 'Finland'
 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'High-income countries' 'Honduras' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan'
 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania'
 'Low-income countries' 'Lower-middle-income countries' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North Korea'
 'North Macedonia' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Virgin Islands' 'Upper-middle-income countries' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'World' 'Yemen' 'Zambia'
 'Zimbabwe']

Data should be clean